.LandingPage{
    background: linear-gradient(180deg, rgba(254,219,54,1) 0%, rgba(225,182,16,1) 100%);
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-content:stretch;
    background-image: url('../Imagenes/pikapika.png');
    background-repeat: no-repeat;
}
.titulo{
    font-size: 4.5rem;
    color: rgb(58, 58, 58);
    text-transform: capitalize;
    margin:0 auto;
    grid-row-start: 2;
    grid-row-end: 3;
}

.link{
    grid-row-start: 3;
    grid-row-end: 4;
}

.button{
    background: linear-gradient(180deg, rgba(254,219,54,1) 0%, #D89502 100%);
   border: none;
   padding: 2rem 0;
    border-radius: 0.5rem;
    width: 180px;
    color: #0A285F;
    font-weight: bold;
    text-transform: uppercase;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: scale  0.2s;
}