.contenedorFiltro{
    background: linear-gradient(180deg, rgba(254,219,54,1) 0%, rgba(254,219,54,1) 94%, rgba(225,182,16,1) 100%);
    padding: 2rem;
}
.label{
    color: #0A285F;
    padding: 2rem;
}
.contenedorOrden{
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr 2fr);
    align-content: center;
    align-items: center;
}
.orden{
  
   display: grid;
   grid-template-columns: repeat(3, 1fr);
    margin: 0.5rem auto;
    font-size: 1.5rem;
    color: rgb(58,58,58);
}
.ordenSelect{
    width: 100%;
    padding: 0.5rem;
    display: inline-block;
    border: solid 1px rgba(255, 255, 255, 0.555);
    border-radius: 0.5rem;
    margin: 0 2rem;
    font-size: 1.4rem;
    color: rgba(254,219,54,1);
    background-color: rgb(58,58,58);
}
.ordenSelect:hover{
    cursor: pointer;
}
.button{
    background: linear-gradient(180deg, rgba(254,219,54,1) 0%, #D89502 100%);
   border: none;
   padding: 1rem;
    border-radius: 0.5rem;
    width: fit-content;
    color: #0A285F;
    font-weight: bold;
    text-transform: uppercase;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: scale  0.2s;
}
