.navbar{
    padding: 2rem;
    margin: 0 auto;
}
.button{
    background: linear-gradient(180deg, rgba(254,219,54,1) 0%, #D89502 100%);
   border: none;
   padding: 1rem;
    border-radius: 0.5rem;
    width: fit-content;
    color: rgb(58,58,58);
    font-weight: bold;
    text-transform: uppercase;
    border: solid 2px rgba(255, 255, 255, 0.438);
}
.button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: scale  0.2s;
}